* {
  box-sizing: border-box;
}

:root {
  --header__background: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* -------common----------------- */
.container {
  width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 999px;
  text-align: center;
  background: #2e80ce;
  min-width: 205px;
  height: 60px;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.67;
  padding: 15px 48px;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv2 {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 18px;
}

.control {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.control-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}

.control-btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon__next {
  /* xoay 180 độ */
  rotate: 180deg;
}
/* -------------------header---------------------- */
.header {
  background: var(--header__background);
  min-height: 100vh;
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.action__login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  top: -3px;
  right: 8px;
}

.action {
  display: flex;
  align-items: center;
}

.action__signup {
  min-width: 104px;
  height: 44px;
  font-size: 1.6rem;
  padding: 15px 0;
}

.action__login {
  margin-right: 7px;
}

.header-bottom {
  display: flex;
}

.header-bottom__content {
  padding-top: 144px;
  padding-right: 113px;
}

.header-bottom__content--title {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
  padding-bottom: 22px;
}

.header-bottom__content--desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  padding-bottom: 53px;
}
.header-bottom__contentbottom {
  display: flex;
  align-items: center;
}

.btn-bookOline {
  margin-right: 38px;
}

.header-bottom__content--call {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.header-bottom__imagas--1 {
  width: 330px;
  height: 540px;
  border-radius: 6px;
}

.header-bottom__imagas--2 {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}

.header-bottom__images {
  margin-top: 84px;
  margin-bottom: 110px;
  display: flex;
  align-items: center;
}

/* ----------services-------------- */
.services {
  padding: 170px 0;
  background: #fff;
}

.services__heading {
  text-align: center;
}

.services__desc {
  width: 468px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
}

.services-row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-row__img {
  width: 570px;
  height: 570px;
  border-radius: 18px;
  object-fit: cover;
}

.services-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
}

.services-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
}
.services-item__icon:hover {
  background: #2e80ce;
}

.services-item__heading {
  color: var(--header__background);
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.services__btn {
  margin-top: 55px;
}
/* ---------------work--------------------- */
.work {
  padding: 100px 0;
  color: #f6fbff;
}
.work__heading {
  padding-top: 100px;
  width: 324px;
}

.work__desc {
  width: 468px;
}

.work-list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  background: #fff;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
}

.work-item:hover {
  border: 16px solid #2e80ce;
  /* khi rê chuột đến item thì nó nhích lên 16px */
  transform: translate(-16px);
}

.work-item__icon {
  width: 72px;
  height: 72px;
}

.work-item__title {
  color: var(--header__background);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
  margin-top: 18px;
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* -----------------------------about-------------------------- */
.about {
  margin-top: 85px;
  padding: 85px 0 206px;
  background: #fff;
}

.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-media {
  position: relative;
}

.about-img {
  width: 49%;
}

.about-img__big {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}

.about-img__small {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.about-content {
  width: 40%;
}

.about-btn {
  margin-top: 38px;
}

/* -----------team--------------- */
.team {
  padding: 85px 0;
}

.team-heading {
  text-align: center;
}

.btn-team {
  margin-top: 53px;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  margin-top: 70px;
}

.team-item:hover .team-item__thumb {
  transform: scale(1.1);
  transition: 0.5s;
}

.team-item__thumb {
  height: 290px;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  display: block;
}

.team-item__bg {
  background: #eaf6ff;
  border-radius: 6px;
  padding-top: 28px;
  overflow: hidden;
}

.team-item__name {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}

.team-control {
  display: flex;
  justify-content: center;
}

.team-control {
  padding-top: 51px;
}

/* -----------------------------install----------------------------- */
.install-inner {
  margin: 180px 0 85px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2e80ce;
  border-radius: 4px;
  height: 427px;
  padding: 0 70px;
}

.install-img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
}

.install-content {
  width: 586px;
}

.install-content__h2 {
  color: #fff;
}

.install-desc {
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.install-row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 28px;
}
